[req]
prompt             = no
distinguished_name = dn
x509_extensions    = ext

[dn]
commonName         = localhost

[ext]
basicConstraints   = critical,CA:FALSE
subjectAltName     = DNS:localhost,IP:192.168.1.3
keyUsage           = critical,digitalSignature,keyCertSign
extendedKeyUsage   = serverAuth
