[req]
prompt             = no
distinguished_name = dn
x509_extensions    = ext

[dn]
commonName         = localhost

[ext]
basicConstraints   = critical,CA:FALSE
subjectAltName     = DNS:localhost,IP:127.0.0.1,IP:::ffff:7f00:1
keyUsage           = critical,digitalSignature,keyCertSign
extendedKeyUsage   = serverAuth
